*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "微软雅黑";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:link{
    color: #666666;
}
a:visited{
    color: #666666;
}
a:hover{
    color:rgb(251,166,25);
}
a:active{
    color:rgb(251,166,25);
}

/*<!--头部盒子-->*/
#top_box{
    width: 980px;
    height: 70px;
    margin: auto;
    position: relative;
}
.logo{
    width: 220px;
    height: 70px;
}
.logo img{
    margin-top: 10px;
}
.user_login{
    margin: -40px auto auto 230px;
}
.top_submenu{
    width: 365px;
    height: 15px;
    position: absolute;
    right: 0;
    top:10px;
}
.submenu_box ul{
    width: 260px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
.submenu_box ul li {
    width: 63px;
    height: 15px;
    float: left;
    border-right: 1px solid black;
}
.submenu_box ul li:nth-child(4){
    border:none ;
}
.day_box{
    width: 105px;
    height: 15px;
    margin: -15px 0 auto auto;
}
.top_notice{
    width: 320px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 30px;
}
.top_notice marquee{
    height: 30px;
}
/*<!--导航菜单-->*/
#nav_box{
    width: 980px;
    height: 70px;
    background: url("images/nav_box.gif")no-repeat center;
    margin: auto;
    border-radius:5px;
}
.nav_small{
    width: 600px;
    height: 30px;
    margin:auto;
}
.nav_small ul{
    width: 560px;
    margin: auto;
}
.nav_small li{
    height: 30px;
    line-height: 30px;
    float: left;
    position: relative;
    margin-top: 3px;
}
.nav_small a{
    height: 13px;
    font-size: 16px;
    margin: auto 10px auto 10px;
}
.nav_small a:after{
    content: "|";
    font-size: 13px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
}
.upright_box:after{
    display: none;
}
.nav_small a:link{
    color: #ffffff;
}
.nav_small a:visited{
    color: #ffffff;
}
.nav_small a:hover{
    color:rgb(251,166,25);
}
.nav_small a:active{
    color:rgb(251,166,25);
}
.search_box{
    width: 980px;
    height: 30px;
    margin-top: 10px;
    color: #ffffff;
}
.search_smallbox{
    width: 680px;
}
.search_smallbox span{
    padding-left:20px;
    padding-right:10px ;
    font-size: 14px;
}
.search_box select{
    width: 120px;
}
.search_box input{
    width: 260px;
}
.search_box button{
    width: 45px;
    height: 25px;
    line-height: 20px;
}
.shopping_box{
    width: 305px;
    height: 25px;
    background: url("images/shopping_bg.jpg")no-repeat;
    margin: -25px 10px auto auto;
}
.shopping_box span{
    color: #000000;
    font-size: 13px;
    line-height: 25px;
}
.shopping_car{
    padding-left:30px;
}
.balance_box{
    padding-left: 55px  ;
}
.shopping_user{
    padding-left: 25px;
}

.main{
    width:980px;
    height:1028px;
    margin: 10px auto;
}
.main_left{
    width:195px;
    height:1028px;
    float:left;
    /*border:1px solid #ccc;*/
}
.main_right{
    width:775px;
    height:540px;
    float:right;
    margin-left: 5px;
    border:1px solid #ccc;
}
.main_left_list1{
    width:195px;
    height:248px;
    border:1px solid red;
    border-radius: 5px 5px 0 0;
}
.main_left_list_title{
    width: 195px;
    height:30px;
    border-radius: 5px 5px 0 0;
    background: url("images/main_title.gif") no-repeat;
    color:white;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}
.main_left_list1_text{
    width:180px;
    height:218px;
    /*border:2px solid red;*/
    border-top:none;
    color:#666;
    line-height: 20px;
    padding-left: 15px;
}
.main_left_list2{
    width:195px;
    height:625px;
    margin-top: 5px;
    border:1px solid red;
    border-radius: 5px 5px 0 0;
}
.main_left_list2_text{
    width:180px;
    height:590px;
    color:#666;
    padding-left: 15px;
}
.main_left_list2_text1{
    width:165px;
    height:100px;
    margin-top: 5px;
}
.main_left_list2_text2{
    width:165px;
    height:80px;
    margin-top: 5px;
}
.main_left_list2_text1_title{
    color:red;
    font-weight: bold;
    font-size: 15px;
}
.main_left_list2_text1_list{
    width:160px;
    height:80px;
    /*line-height: 25px;*/
}
.main_left_list2_text1_list ul li{
    width:78px;
    height:10px;
    margin-top: 15px;
    text-align: center;
    line-height: 10px;
    float:left;
    border-right: 1px solid #ccc;
}
.main_left_list2_text1_list ul li:nth-child(even){
    border:none;
}
.main_left_list2_text span{
    margin-left: 80px;
}
.main_left_list3{
    width:195px;
    height:140px;
    margin-top: 5px;
    border:1px solid red;
    border-radius: 5px 5px 0 0;
}
.main_left_list_text_img{
    width:80px;
    height:140px;
    float:left;
    line-height: 140px;
}
.main_left_list_text_img img{
    width:60px;
    height:60px;
    margin: 0 10px;
}
.main_left_list_text_ht{
    width:115px;
    height:140px;
    float:right;
}
.main_left_list_text_ht span{
    color:red;
}
.main_right_bar{
    width:auto;
    height:30px;
    background: -moz-linear-gradient(top, #efefef 0%, #ccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ccc));
    background: -webkit-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: -o-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: -ms-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: linear-gradient(to bottom, #efefef 0%,#ccc 100%);
}
.main_right_bar ul li{
    line-height: 30px;
}
.main_right_bar_young{
    height:30px;
    line-height: 30px;
    color:#666;
}
.main_right_bar_young ul li{
    width:70px;
}
.main_right_sort{
    width:auto;
    height:30px;
    background: -moz-linear-gradient(top, #efefef 0%, #ccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ccc));
    background: -webkit-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: -o-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: -ms-linear-gradient(top, #efefef 0%,#ccc 100%);
    background: linear-gradient(to bottom, #efefef 0%,#ccc 100%);
}
.main_right_sort_left{
    width:500px;
    float:left;
    color:#666;
}
.main_right_sort_left ul li{
    line-height: 30px;
    height: 30px;
    width: 65px;
    text-align: center;
    border-right:1px solid #999;
}
.main_right_sort_right{
    width:160px;
    float:right;
}
.main_right span{
    color:black;
    font-weight: bold;
}
.main_right ul li{
    float:left;
}
.main_right_sort_right ul li{
    margin: 5px 10px;
}
.main_right_list{
    width:775px;
    height:120px;
    border-bottom:1px dashed #ccc;
}
.main_right_list_left{
    float:left;
}
.main_right_list_img{
    width:100px;
    height:100px;
    margin: 10px 0px 0px 30px;
    border:1px solid #ccc;
}
.main_right_list_right{
    width:610px;
    float:right;
    font-weight: bold;
    margin-top: 20px;
}
.main_right_list_right span{
    color:#4a0000;
}
.main_right_list_right ul li{
    height:20px;
    margin-right: 20px;
}
.main_right_list_right ul li:nth-child(2){
    color:#fd6700;
}
.main_right_list_button ul li{
    width:78px;
    height:25px;
    font-size: 15px;
    margin-right: 10px;
    border:1px solid #ecc101;
    background: -moz-linear-gradient(top, #ffed8e 0%, #fdd932 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffed8e), color-stop(100%,#fdd932));
    background: -webkit-linear-gradient(top, #ffed8e 0%,#fdd932 100%);
    background: -o-linear-gradient(top, #ffed8e 0%,#fdd932 100%);
    background: -ms-linear-gradient(top, #ffed8e 0%,#fdd932 100%);
    background: linear-gradient(to bottom, #ffed8e 0%,#fdd932 100%);
    box-shadow:3px 3px 3px #ccc;
    border-radius: 2px;
    text-align: center;
    float:right;
}
.main_right_bottom{
    height:60px;
    margin:10px 15px;
}
.main_right_bottom1{
    height:30px;
}
.main_right_bottom ul li{
    margin-right:10px;
}
#main_right_yeshu{
    width:20px;
    height:22px;
    border:1px solid #ccc;
    text-align: center;
    color:red;
}

.footer_top{
    width: 980px;
    height: 128px;
    margin: 0 auto;
    background:-webkit-linear-gradient(rgb(251,234,241) 25%,rgb(255,255,255));
    border:1px solid rgb(214,41,11);
}
.footer_top_1 ul li{
    float: left;
    width: 176px;
    margin: 10px;
    color: rgb(214,41,11);
    font-weight: bold;
}
.footer_top_2 ul{
    float: left;
    width: 176px;
    margin: 10px;
}
.footer_main{
    width: 980px;
    height: auto;
    margin: 15px auto 0;
}
.footer_main_1{
    width: 240px;
    height: 20px;
    margin: 0 auto;
}
.footer_main_1 ul li{
    float: left;
    width: 60px;
    text-align: center;
    line-height: 20px;
}
.footer_main_2{
    width: 658px;
    margin: 5px auto 0;
    text-align: center;
}
.footer_main_2 span{
    font-weight: bold;
}
.footer_main_3{
    width: 658px;
    margin: 5px auto 0;
    text-align: center;
}
.footer_main_4{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    color: rgb(165,132,108);
}
.footer_main_5{
    width: 630px;
    height: 20px;
    margin: 0 auto;
}
.footer_main_5 ul{
    width: 630px;
    height: 20px;
    margin: 0 auto;
    line-height: 20px;
}
.footer_main_5 ul li{
    float: left;
}
.footer_main_6{
    width: 522px;
    margin: 0 auto;
    color: rgb(167,82,70);
}
.footer_main_6 a{
    color: rgb(102,102,102);
}
.footer_foot{
    width: 980px;
    margin: 0 auto;
}
.footer_foot_1{
    height: 40px;
    background: rgb(255,102,0);
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.footer_foot_2{
    border: 2px solid rgb(255,102,0);
    padding: 10px 5px;
}
.footer_foot_3{
    font-weight: bold;
    background: rgb(248,255,232);
}







